*{
    padding: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   box-sizing: border-box;
   background-image: url('img/Fondo.jpg');
   background-size: cover; 
   background-position: center center;

}



.Terminal{
    background: rgba(255, 255, 255, .3);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1.5px solid rgba(209, 213, 219, 0.3);
   display: block;
    height: 600px;
    width:600px ;
    border-radius: 2% 2% 2% 2%;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.5);
}

.Thead{
    display: flex;
    background-color: #1c8e90;
    color: #fff;
    height: 40px;
    width:600px ;
    margin: 0 ;
    border: 0;
    border-radius: 10px 10px 0 0;

    padding: 13px;
   

    
    
}
.Thead .animate-charcter{
    margin: 0;
    border: 0;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    font-size: 1rem;
    
}
.icon{
    width: 15px;
    height: 15px;
    border-radius: 50%; /* Hace que los iconos sean circulares */
    margin-right: 10px; /* Agrega margen a la derecha para espaciar los iconos */
    transition: background-color 0.2s; /* Transición para el hover */
 }
 .icon:hover {
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
}
.icon.blue{
    background-color: #ba1e4a; /* Cambia el color de fondo según tus preferencias */

}
.icon.red{
    background-color: #c39304; /* Cambia el color de fondo según tus preferencias */

}.icon.yellow{
    background-color: #39ad15; /* Cambia el color de fondo según tus preferencias */
}
.icon.red:hover {
    background-color: rgb(228, 225, 52); 
}
.icon.blue:hover {
    background-color: rgb(233, 55, 55); 
}.icon.icon.yellow:hover {
    background-color: #39ca1c; 
}

.bubble {
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: inset 0 0 25px rgba (255, 255, 255, 0.25);
    animation: animate_4010 8s ease-in-out infinite;
  }
  
  .bubble:nth-child(2) {
    position: relative;
    zoom: 0.45;
    left: -10px;
    top: -100px;
    animation-delay: -4s;
  }
  
  .bubble:nth-child(3) {
    position: relative;
    zoom: 0.45;
    right: -80px;
    top: -300px;
    animation-delay: -6s;
  }
  
  .bubble:nth-child(4) {
    position: relative;
    zoom: 0.35;
    left: -120px;
    bottom: -200px;
    animation-delay: -3s;
  }
  
  .bubble:nth-child(5) {
    position: relative;
    zoom: 0.5;
    left: 0px;
    top: 200px;
    animation-delay: -5s;
  }
  
  @keyframes animate_4010 {
    0%,100% {
      transform: translateY(-20px);
    }
  
    50% {
      transform: translateY(20px);
    }
  }
  
  .bubble::before {
    content: '';
    position: absolute;
    top: 50px;
    left: 45px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble::after {
    content: '';
    position: absolute;
    top: 80px;
    left: 80px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
    z-index: 10;
    filter: blur(2px);
  }
  
  .bubble span {
    position: absolute;
    border-radius: 50%;
  }
  
  .bubble span:nth-child(1) {
    inset: 10px;
    border-left: 15px solid #0fb4ff;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(2) {
    inset: 10px;
    border-right: 15px solid #ff4484;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(3) {
    inset: 10px;
    border-top: 15px solid #ffeb3b;
    filter: blur(8px);
  }
  
  .bubble span:nth-child(4) {
    inset: 30px;
    border-left: 15px solid #ff4484;
    filter: blur(12px);
  }
  
  .bubble span:nth-child(5) {
    inset: 10px;
    border-bottom: 10px solid #fff;
    filter: blur(8px);
    transform: rotate(330deg);
  }

  .input-container {
   
    
    display: flex;
    height: 90%;
    width: 95%;
   border: 0;
    margin: 0;
   padding: 30px;
    
   
    font-size: 1.6rem;
    color: rgb(27, 27, 27);
    justify-content: center;
  
    
    
   

    
    
   
  }


 
  
  .input-container .bash-text .coment {
    
    color: rgb(73, 73, 73);
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 90%;
    height: 11%;
    align-items: space-between;
  }
  
  .input-container .bash-text .user {
    color: #9225a3;
  }
  
  .input-container .bash-text .vm {
    color: #16c5ae;
  }
  
  .input-container .bash-text .char {
    color: #aa95eb;
  }


  .animate-charcter
  {
     text-transform: uppercase;
    background-image: linear-gradient(
      -225deg,
      #7ddffa 10%,
      #92FE9D 29%,
      #92FE9D 67%,
      #00C9FF 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 4s linear infinite;
    display: inline-block;
        font-size: 16px;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  


  
   